{
    "presets": [
        // 文档：https://babeljs.io/docs/babel-preset-env
        [
            "@babel/preset-env",
            {
                // 配置：https://babeljs.io/docs/options#targets
                "targets": {
                    "esmodules": true
                },
                // 配置：https://babeljs.io/docs/babel-preset-env#usebuiltins
                "useBuiltIns": "usage",
                // 配置：https://babeljs.io/docs/babel-preset-env#corejs
                "corejs": {
                    "version": 3,
                    "proposals": true
                }
            }
        ],
        [
            "@babel/preset-typescript",
            {
                "optimizeConstEnums": true
            }
        ]
    ],
    "plugins": [
        // 文档：https://babeljs.io/docs/babel-plugin-transform-runtime
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-proposal-optional-chaining",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-private-methods",
            {
                "loose": true
            }
        ]
    ]
}
