<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta name="screen-orientation" content="portrait" />
        <meta name="x5-orientation" content="portrait" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <title>首页</title>
        <style></style>
    </head>
    <body>
        <div class="box1"></div>
        <div class="box2"></div>

        <section class="section">
            <div class="box"></div>
        </section>
        <section class="section">
            <h1>你好，我是本库的作者陈大鱼头</h1>
            <p>
                下面是我的公众号『鱼头的Web海洋』二维码，以及我个人微信二维码，有兴趣的可以扫码一起来分享技术以及谈天说地。
            </p>
            <img class="qrcode" src="" alt="" />
            <h2>下面是我的一些项目地址，有兴趣可以保存书签哦</h2>
            <ul class="link">
                <li><a href="https://github.com/KRISACHAN">github</a></li>
                <li><a href="https://codepen.io/krischan77">codepen</a></li>
                <li>
                    <a href="https://juejin.im/user/576b433bd342d30057aaa1e9"
                        >掘金博客</a
                    >
                </li>
            </ul>
        </section>
    </body>
</html>
