$bg-color: #ccc;
html,
body {
    width: 750px;
    height: 100vh;
    overflow-x: auto;
    background: $bg-color;
}
::-webkit-scrollbar {
    display: none;
}
html,
body,
section,
header,
main,
footer,
div {
    margin: 0;
    padding: 0;
}
::placeholder {
    color: gray;
}
.grid {
    display: grid;
    grid: repeat(2, 240px) / auto-flow 320px;
    & > div {
        background-color: #8ca0ff;
        width: 200px;
        height: 200px;
        transition: 1s;
    }
}
.useless {
    width: 999px;
    height: 99px;
}
