html,
body,
section,
div,
img {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    min-height: 100%;
}
.box1 {
    width: 200px;
    height: 80px;
    background: url('/img/qrcode-all1.png') 50% 50% / cover no-repeat;
}
.section {
    width: 90vw;
    max-width: 960px;
    margin: 1vh auto;
    .qrcode {
        width: 100%;
    }
    .link {
        li {
            padding-bottom: 1vh;
        }
    }
    &:first-child {
        .box {
            width: 300px;
            height: 300px;
            background: url('/img/qrcode-all1.png') 50% 50% / cover no-repeat;
        }
    }
}
