html,
body,
section,
div,
img {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    min-height: 100%;
}
.section {
    width: calc(750px * 0.9);
    margin: 1vh auto;
    .qrcode {
        width: 100%;
    }
    .link {
        li {
            padding-bottom: 1vh;
        }
    }
    &:first-child {}
}
