:root {
    --fontSize: 1rem;
    --mainColor: rgba(18, 52, 86, 0.47059);
    --secondaryColor: rgba(102, 51, 153, 0.9);
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
}

@media (max-width: 50rem) {
    body {
        color: var(--mainColor);
        font-family: system-ui;
        font-size: var(--fontSize);
        line-height: calc(var(--fontSize) * 1.5);
        overflow-wrap: break-word;
        padding-left: calc(var(--fontSize) / 2 + 1px);
        padding-right: calc(var(--fontSize) / 2 + 1px);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: rgba(0, 0, 255, 0.9);

    &:hover {
        color: rebeccapurple;
    }
}
